[Unit]
Description={{ service_name }}
After=network.target

[Service]
User={{ application_user }}
Group={{ application_group }}
WorkingDirectory={{ application_dir }}
EnvironmentFile={{ env_file }}
ExecStart={{ service_exec }}
{% if stdout_log is defined %}
StandardOutput=append:{{ stdout_log }}
{% endif %}
{% if stderr_log is defined %}
StandardError=append:{{ stderr_log }}
{% endif %}

[Install]
WantedBy=multi-user.target
