# Basic production config example for Django application. See notes in config.common.yml
#
domains: ___PUT_PRODUCTION_DOMAINS_HERE___
staticbucket: ___PUT_PRODUCTION_S3_BUCKET_HERE___
gunicorn_reload: False

# git-deploy does not copy up ssl files at the moment. These paths are
# absolute file paths on the remote host that are assumed to already exist
# If https is not used, the ssl configuration may be safely removed
ssl:
  ssl_certificate: ___PUT_PATH_TO_SSL_CERT_HERE___
  ssl_certificate_key: ___PUT_PATH_TO_SSL_CERT_KEY_HERE___

init_env_prd:
  STATIC_URL: ___PUT_PRODUCTION_STATIC_URL_HERE___

# Note that env vars set in the upstart config will also be set when using the
# modified manage.py file for db migration and custom management commands
init_env: "{{ init_env_common|combine(init_env_prd) }}"
