description "{{ project_name }}"

start on (net-device-up and local-filesystems)
stop on shutdown

respawn
console log
setuid {{ application_user }}
setgid {{ application_user }}

chdir {{ application_dir }}

script
  . {{ env_setup_script }}

  {% if gunicorn_reload %}
  exec {{ virtualenv }}/bin/gunicorn -b :{{ port }} --reload {{ wsgi_application }}
  {% else %}
  exec {{ virtualenv }}/bin/gunicorn -b :{{ port }} {{ wsgi_application }}
  {% endif %}
end script
